section {
    width: calc(50% - 10px);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid black;

}

h3 {
    margin-left: 10px;
}
body {
    margin: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}