h1 {
    font-family: Arial, Cursive, "Times New Roman";
    font-size: 50px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    text-decoration: underline;
    color: darkblue;
}

table, th, td {
    border: 1px solid blue;
    border-collapse: collapse;
    min-width: 100%
}

p {
    font-family: Cursive;
    font-size: 20px
}

a {
   font-size: 20px
}